@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400;1,600&family=Merienda:wght@400;700;900&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&display=swap');

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    height: 100%;
}

body.preload * {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

h1, h2, h3, h4, h5, h6, figure {
    margin-bottom: 0;
}

h1, h2, h3 {
    font-family: 'Merienda', cursive;
    font-weight: 700;
}

.radial-blue-bg {
    --alpha: 1;
    background: rgba(151,228,245,var(--alpha));
    background: radial-gradient(circle at top, rgba(151,228,245,1) 5%, rgba(105,231,255,var(--alpha)) 20%, rgba(127,216,250,var(--alpha)) 45%, rgba(19,216,221,var(--alpha)) 90%),
                radial-gradient(circle at bottom, rgba(151,228,245,var(--alpha)) 5%, rgba(105,231,255,var(--alpha)) 20%, rgba(127,216,250,var(--alpha)) 45%, rgba(19,216,221,var(--alpha)) 90%);
}

.contrast-bg::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    filter: contrast(0.5);
    z-index: -1;
}

.header {
    position: relative;
    border-bottom: 2px solid #ccc;
}

.header__nav-open {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;

    font-size: 1.7em;
}

.header__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 60vw;
    
    background: #eee;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-bottom-left-radius: 1rem;
    
    font-family: 'Playfair Display SC', serif;
    font-weight: 700;

    transform: translateX(100%);
    transition: transform .3s ease-in-out;
}

.header__nav-active {
    transform: translateX(0);
}

.header__nav ul {
    list-style: none;
}

.header__nav li {
    transition: transform .15s ease-in-out;
}

.header__nav a {
    color: inherit;
    text-decoration: none;
}

.header__nav-current {
    background: rgb(20, 98, 76);
    background: linear-gradient(48deg, rgb(20, 98, 76) 0%, rgb(1, 128, 174) 70%, rgb(0, 145, 174) 90%, rgb(95, 166, 181) 100%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: underline;
}

.header__nav-close {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    position: absolute;
    top: 1rem;
    right: 1rem;
}

section {
    padding: 2rem;
    text-align: justify;
}

@media screen and (min-width: 768px) {
    .header {
        justify-content: space-between;
    }

    .header h1 {
        font-size: calc(0.75em + 1.5vw);
    }
    
    .header__nav {
        all: unset;
        
        border-radius: .5rem;
        background: #f2f2f2;
        background: linear-gradient(to right, #fff, #f2f2f2 50%);

        font-family: 'Playfair Display SC', serif;
        font-weight: 700;
    }

    .header__nav li:hover {
        background-color: transparent;
        transform: translateY(-.25rem);
    }
}

@media (prefers-color-scheme: dark) {
    html, body {
        background: #222;
        color: #fff;
    }

    .radial-blue-bg {
        --alpha: 0.5;
    }

    .header {
        border-color: #fff;
    }

    .header h1, .header__nav-current {
        background: rgb(33,162,126);
        background: linear-gradient(48deg, rgba(33,162,126,1) 0%, rgba(0,185,255,1) 70%, rgba(0,212,255,1) 90%, rgba(133,233,255,1) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .header__nav {
        background: #292929;
    }

    .header__nav-toggle {
        color: #fff;
    }

    .contrast-bg::before {
        filter: contrast(0.75) brightness(0.65);
    }
}
